<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>font-awesome:undo</string>
	<key>CFBundleIdentifier</key>
	<string>com.jaguchi.LaunchBar.action.RelaunchApplication</string>
	<key>CFBundleName</key>
	<string>Relaunch Application</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBArgument</key>
	<string>Application to relaunch.</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>Application to relaunch.</string>
		<key>LBSummary</key>
		<string>Quit and relaunch an application</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>path</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
</dict>
</plist>
